/auto-save-list/
/eln-cache/
/quelpa/
/elpa/
/.cache/
/workspace/
/eclipse.jdt.ls/
recentf
/org-clock-save.el
/eshell/
/.vscode/
.lsp-session-v1
.dap-breakpoints
session.*
/transient/*
main
projectile-bookmarks.eld